<button ng-click="usersIndex.getAllUsers()" ng-class="{ 'active': usersIndex.filter === 'allUsers' }">All Users</button>
<button ng-click="usersIndex.getFollowing()" ng-class="{ 'active': usersIndex.filter === 'following' }">Following</button>
<button ng-click="usersIndex.getFollowers()" ng-class="{ 'active': usersIndex.filter === 'followers' }">Followers</button>

<div ng-if="usersIndex.followerRender" class="row">

  <div>
    <div>
      <input type="text" placeholder="Search" ng-model="usersIndex.q">
    </div>
  </div>

  <div ng-repeat="follower in usersIndex.currentUser.followers | filter:{ username: usersIndex.q }" class="col-md-6">
    <img ng-src="{{ follower.image_src }}">
    <a ui-sref="usersShow({ id: follower.id })"><h2>{{ follower.username }}</h2></a>
  </div>
</div>


<div ng-if="usersIndex.followingRender" class="row">

  <div>
    <div>
      <input type="text" placeholder="Search" ng-model="usersIndex.q">
    </div>
  </div>

  <div ng-repeat="following in usersIndex.currentUser.following | filter:{ username: usersIndex.q }" class="col-md-6">
    <img ng-src="{{ following.image_src }}">
    <a ui-sref="usersShow({ id: following.id })"><h2>{{ following.username }}</h2></a>
  </div>
</div>

<div ng-if="usersIndex.allUsersRender" class="row">

  <div>
    <div>
      <input type="text" placeholder="Search" ng-model="usersIndex.q">
    </div>
  </div>

  <div ng-repeat="user in usersIndex.all | filter:{ username: usersIndex.q }" class="col-md-6">
    <img ng-src="{{ user.image_src }}">
    <a ui-sref="usersShow({ id: user.id })"><h2>{{ user.username }}</h2></a>

    <div ng-if="main.isAuthenticated()">
      <button ng-click="usersIndex.toggleFollowing(user)" ng-if="!usersIndex.isFollowing(user)">Follow</button>
      <button ng-click="usersIndex.toggleFollowing(user)" ng-if="usersIndex.isFollowing(user)">Unfollow</button>
    </div>
  </div>
</div>
