<div class="profile">
  <div class="picture">
    <div class="showPic" ng-style="{'background-image': 'url(' + usersShow.user.image_src + ')'}"></div>
  </div>
  <div class="profileName">
    <h2>{{ usersShow.user.username }}</h2>
  </div>

  <div class="loginButton">
    <div ng-if="main.isAuthenticated() && usersShow.currentUser.$resolved && main.currentUser.id !== usersShow.user.id">
      <button class="authButton usersButton" ng-click="usersShow.toggleFollowing()" ng-if="!usersShow.isFollowing()">Follow</button>
      <button class="authButton usersButton" ng-click="usersShow.toggleFollowing()" ng-if="usersShow.isFollowing()">Unfollow</button>
    </div>
  </div>

  <div class="loginButton">
    <button class="authButton usersButton" ng-if="main.isAuthenticated() && usersShow.currentUser.$resolved && main.currentUser.id === usersShow.user.id" ng-click="usersShow.getMyPylons()" ng-class="{ 'active': usersShow.filter === 'me' }">Me</button>
    <button class="authButton usersButton" ng-if="main.isAuthenticated() && usersShow.currentUser.$resolved && main.currentUser.id === usersShow.user.id" ng-click="usersShow.getOurPylons()" ng-class="{ 'active': usersShow.filter === 'our' }">Me &amp; Friends</button>
    <button class="authButton usersButton" ng-if="main.isAuthenticated() && usersShow.currentUser.$resolved && main.currentUser.id === usersShow.user.id" ng-click="usersShow.getAllPylons()" ng-class="{ 'active': usersShow.filter === 'all' }">All Pylons</button>
  </div>


  <div>
    <label>Category:</label>
    <select ng-model="usersShow.categoryPylon">
      <option selected value="">All</option>
      <option ng-repeat="category in usersShow.categories" ng-value="{{ category.id }}"> {{ category.name }}</option>
    </select>
  </div>

  <p>Distance From You: {{usersShow.distance/1000 | number: 2}}KM</p>
  <input type="range" min="1000" max="5000" name="slider" id="slider" ng-model="usersShow.distance" value="2500">

  <profile-map filtered-pylons="usersShow.filteredPylons" user-pylons="usersShow.user.pylons" selected-listing="usersShow.selectedListing" ng-if="usersShow.user.$resolved"></profile-map>
  <h1>{{ usersShow.listing.name }}</h1>
  <div class="row" ng-show="usersShow.listing">
    <div class="infoData" ng-repeat="pylon in usersShow.listing.pylons" ng-class="usersShow.determineUser(pylon)">
      <p><span>Category: </span> {{ pylon.category.name }}</p>
      <p><span>Comment: </span> {{ pylon.comment }}</p>
      <p><span>User: </span> {{ pylon.user.username}}</p>
      <div class="infoBtn">
        <button ng-click="usersShow.deletePylon(pylon)" ng-if="main.isAuthenticated() && main.currentUser.id === pylon.user.id">Delete</button>
        <a ui-sref="pylonsEdit({ id: usersShow.selectedPylon.id })" ng-if="main.isAuthenticated() && main.currentUser.id === pylon.user.id" class="subNavBtn btn">Edit</a>
      </div>
    </div>
  </div>

  <div class="loginButton">
    <div ng-if="main.isAuthenticated() && usersShow.currentUser.$resolved && main.currentUser.id === usersShow.user.id">
      <a ui-sref="usersEdit({ id: usersShow.user.id })" class="authButton usersButton">Edit Account</a>
      <button ng-click="usersShow.delete()" class="authButton usersButton">Delete Account</button>
    </div>
  </div>
</div>
