<div class="row">
  <div ng-repeat="pylon in pylonsIndex.all | orderBy: '-pylon.created_at'" class="col-md-6">

    <pylon-map pylon="pylon"></pylon-map>

    <h2>{{ pylon.user.username }}</h2>
    <img ng-src="{{ pylon.user.image_src }}">

    <p>{{ pylon.listing.name }}</p>
    <p ng-hide="pylonsIndex.editorEnabled">{{ pylon.category.name }}</p>
    <button ng-click="pylonsIndex.enableEditor(pylon)" ng-if="main.isAuthenticated() && main.currentUser.id === pylon.user.id">Edit Category</button>
    <p>{{ pylon.listing.address }}</p>
    <p>{{ pylon.listing.website }}</p>
    <p>{{ pylon.listing.tel }}</p>
    <p ng-hide="pylonsIndex.editorEnabled">{{ pylon.comment }}</p>
    <button ng-click="pylonsIndex.enableEditor(pylon)" ng-if="main.isAuthenticated() && main.currentUser.id === pylon.user.id">Edit Comment</button>

    <div ng-show="pylonsIndex.editorEnabled">
      <select ng-model="pylon.category_id" ng-show="pylonsIndex.editorEnabled">
        <option disabled selected value="">Please select...</option>
        <option ng-repeat="category in pylonsIndex.categories" ng-value="{{ category.id }}"> {{ category.name }}</option>
      </select>
      <button ng-click="pylonsIndex.save(pylon)">Save</button>
      or
      <button ng-click="pylonsIndex.disableEditor()">Cancel</button>
    </div>

    <div ng-show="pylonsIndex.editorEnabled">
      <input ng-model="pylon.comment" ng-show="pylonsIndex.editorEnabled">
      <button ng-click="pylonsIndex.save(pylon)">Save</button>
      or
      <button ng-click="pylonsIndex.disableEditor()">Cancel</button>
    </div>

    <button ng-click="pylonsIndex.delete(pylon)" ng-if="main.isAuthenticated() && main.currentUser.id === pylon.user.id">Delete</button>

    <button ng-click="pylonsIndex.pin(pylon)" ng-if="main.isAuthenticated()">Pin</button>
    <button ng-click="pylonsIndex.repost(pylon)" ng-if="main.isAuthenticated()">Repost</button>
  </div>
</div>
