<div class="login col-md-6">
  <form name="auth.loginForm" ng-submit="auth.login()" novalidate class="form-group">
    <div>
      <label>Username</label>
      <input type="text" name="username" id="username" ng-model="auth.credentials.username" required class="form-control">
      <div class="messages error" ng-messages="auth.loginForm.username.$error" role="alert" ng-show="(auth.loginForm.$submitted || auth.loginForm.username.$touched) && auth.loginForm.username.$invalid">
        <div class="message" ng-message="required">Please enter a value for this field.</div>
      </div>
    </div>

    <div>
      <label>Password</label>
      <input type="password" name="password" id="password" ng-model="auth.credentials.password" required class="form-control">
      <div class="messages error" ng-messages="auth.loginForm.password.$error" role="alert" ng-show="(auth.loginForm.$submitted || auth.loginForm.password.$touched) && auth.loginForm.password.$invalid">
        <div class="message" ng-message="required">Please enter a value for this field.</div>
      </div>
    </div>

    <button>Login</button>
  </form>

  <button ng-click="auth.authenticate('facebook')">Login with Facebook</button>
</div>
