$green: #00a289;
$grey: #D3D3D3;
$yellow: #fce650;

body {
  font-family: 'Josefin Sans', sans-serif;
}

* {
  font-family: inherit;
}

main  {
  margin-top: 25vh;
}

nav {
  position:fixed;
  overflow: hidden;
  left: 0;
  width: 100%;
  z-index:999;
  top: 0;
  text-align: center;
  .pylonImage {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .gradient {
    // background: $green;
    background: linear-gradient(to bottom,#00B598 8%,$green 100%);
    .pageName {
      h1 {
        font-size: 15px;
        color: white;
        margin-top: 0;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
    }
    .links {
      height: 5vh;
      text-align: center;
      ul {
        list-style: none;
        padding-left: 0px;
        margin: 0 auto;
        li {
          padding-left: 3.5vh;
          padding-right: 3.5vh;
          display: inline-block;
          padding-bottom: 1vh;
          color: white;
          a {
            font-size: 1.7vh;
            color: white;
            text-decoration: none;
            position: relative;
            font-size: 1em;
            &:hover {
              color: $yellow;
            }
          }
        }
      }
    }
  }
}

.authButton {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  position: center;
  background-color: white;
  width: 200px;
  margin-top: 12px;
  border: 1px solid $grey;
  letter-spacing: 3px;
  border-radius: 0;
  padding: 10px;
  display: inline-block;
  &:hover {
    color: $green;
    border-color: $green;
  }
  &.active {
    color: $green;
    border-color: $green;
  }
  &:focus {
    outline:0;
  }
}

.profilePic {
  margin-top: 5px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 1px solid white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
}

.profileName {
  display: inline-block;
}

.feedColumn, .pylon-map {
  height: 40vh;
  margin-bottom: 60px;
}

.add-map, .profile-map {
  height: 50vh;
  width: 100%;
}

.login, .register {
  text-align: center;
  .form {
    text-align: left;
    margin: 0 auto;
    max-width: 300px;
    .loginButton {
      text-align: center;
    }
    .login {
      padding-top: 20px;
    }
    p {
      text-align: center;
    }
    input {
      color: $green;
      &:hover {
        color: $green;
        border-color: $green;
      }
      &.active {
        color: $green;
        border-color: $green;
      }
      &:focus {
        border-color: $green;
        outline: none;
        box-shadow: none;
      }
    }
    .image {
      display: none;
    }
    .image-label {
      cursor: pointer;
      color: black;
      text-decoration: none;
      font-weight: bold;
      text-align: center;
      position: center;
      background-color: white;
      width: 200px;
      margin-top: 12px;
      margin-bottom: 20px;
      border: 1px solid $grey;
      border-radius: 0;
      padding: 10px;
      &:hover {
        color: $green;
        border-color: $green;
      }
      &.active {
        color: $green;
        border-color: $green;
      }
      &:focus {
        outline:0;
      }
    }
  }
}

.usersIndex {
  .users {
    margin: 0 auto;
    text-align:left;
    max-width: 59%;
    .loginButton {
      text-align: center;
    }
    .usersButton {
      margin: 10px;
      position: relative;
    }
    .search {
      width: 96.5%;
      margin-bottom: 20px;
      margin-top: 20px;
      padding-left: 10px;
      &:hover {
        color: $green;
        box-shadow: none;
        border: 1px solid $green;
      }
      &.active {
        color: $green;
        border-color: $green;
      }
      &:focus {
        border-color: $green;
        outline: none;
        box-shadow: none;
      }
    }
    .username {
      font-size: 20px;
      text-decoration: none;
      color: black;
      &:hover {
      color: $green;
      }
    }
    .follow {
      color: black;
      text-decoration: none;
      font-size: 15px;
      position: relative;
      left: -22px;
      background-color: white;
      width: 40px;
      height: 40px;
      margin-top: 12px;
      border: 1px solid $grey;
      letter-spacing: 3px;
      border-radius: 20px;
      padding: 10px;
      display: inline-block;

      &:hover {
        color: $green;
        border-color: $green;
      }
      &.active {
        color: $green;
        border-color: $green;
      }
      &:focus {
        outline:0;
      }
      .fa, .fa-check {
        color: #544e4e;
        font-size: 14px;
      }
    }
  }
}

.usersShow {
  .profile {
    margin: 0 auto;
    text-align:left;
    max-width: 59%;
  }
  .loginButton {
    text-align: center;
  }
  .usersButton {
    margin: 10px;
    position: relative;
  }
  .profileName {
    margin: 0 auto;
    h2 {
      text-align: center;
    }
  }
  .picture {
    margin: 0 auto;
    text-align: center;
  }
  .showPic {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  select {
    width: 87%;
    margin-left: 2%;
    background-color: white;
  }
}

input[type='range'] {
  appearance: none;
  background-color: $green;
  border-radius: 30px;
  height: 1vh;
  width: 100%;
  margin-bottom: 5%;
  &:focus {
    outline: none;
  }
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  border: 2px solid $green;
  border-radius: 30px;
  height: 2.5vh;
  width: 2.5vh;
}

.pylonsNew {
  .new {
    margin: 0 auto;
    text-align:left;
    max-width: 59%;
  }
  select {
    width: 88%;
    margin-left: 2%;
    background-color: white;
    margin-top: 20px;
  }
  input {
    color: $green;
    &:hover {
      color: $green;
      border-color: $green;
    }
    &.active {
      color: $green;
      border-color: $green;
    }
    &:focus {
      border-color: $green;
      outline: none;
      box-shadow: none;
    }
  }
  .loginButton {
    text-align: center;
  }
}

.pylonsIndex {
  .feed {
    margin: 0 auto;
    text-align:left;
    max-width: 59%;
  }
  .name{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .fa {
    background-color: white;
    border: none;
    color: $green;
  }
  .profName {
    margin-left: 5%;
  }
  .authButton {
    
  }
}

.userPylon {
  border: 2px solid blue;
}

.followingPylon {
  border: 2px solid green;
}

.allPylon {
  border: 2px solid red;
}

@media only screen and (max-width: 950px) {

}
