// Import all of your scss files here

.add-map, .pylon-map, .profile-map {
  height: 50vh;
  width: 100%;
}

button {
  &.active {
    background-color: pink;
  }
}

.userPylon {
  border: 2px solid blue;
}

.followingPylon {
  border: 2px solid green;
}

.allPylon {
  border: 2px solid red;
}
